{% load staticfiles %}
<html>
    <head>
        <title>Tutorial CSS Yay</title>
        <link rel="stylesheet" href="{% static 'css/tutorial.css' %}">
    </head>
    <body>
        <div>
            <h1>Tutorial CSS Yay</h1>
        </div>
        <div id="main">
            <div class="content_section">
                <p class="date">published: 31 September 2017</p>
                <h2><a href="">My CSS tutorial</a></h2>
                <p id="content_1">Yay, this is an easy tutorial!</p>
            </div>
            <div class="content_section">
                <p class="date ">published: 32 September 2017</p>
                <h2><a href="">Your CSS tutorial</a></h2>
                <p id="content_2">Yay this is an easy tutorial!</p>
            </div>
            <div class="content_section">
                <p>published: 33 September 2017</p>
                <h2><a href="">CSS Tutorial for all</a></h2>
                <p id="content_3">Yay this tutorial is not hard!</p>
            </div>
        </div>

        </div>
    </body>
</html>
