.cover{
  border-radius: 10px;
  display: block;
  margin: auto;
  width: 50%;
  height: 30%;
}

.picture{
  border-radius: 100%;
  display: block;
  margin: auto;
  width: 25%;
  z-index: 1;
}
.name{
  margin: auto;
}
.about{
  font-style: italic;
  font-size: 15px;
  text-items: center
}

.feed {
  margin: 15px;
  flex-direction: column-reverse;
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px;
}

.email{
  text-align: center;
}

.textbox{
  margin-left: 38%;
  align: center;
}
